<table class="table">
  <thead>
    <tr>
      <th>Name </th>
      <th>Current month concerts </th>
      <th>Last concert</th>
      <th>Maximum attendees </th>
      <th>Longer duration </th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @group.name  %></td>
        <td><%= @group.how_many_concerts  %></td>
        <td><%= @group.last_concert %></td>
        <td><%= @group.maximum_attendees %></td>
        <td><%= @group.longer_duration %></td>
      </tr>
  </tbody>
</table>

<br>


  <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-warning" %> 
  <%= link_to 'Back', groups_path , class: "btn btn-primary" %>
  