<p id="notice"><%= notice %></p>
<div class="card-body">
<p>
  <strong>Number of attendees:</strong>
  <%= @concert.number_of_attendees %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Group:</strong>
  <%= @concert.group %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @concert.duration %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>


</div>